<section id="scrollCSS" class="sticky top-0 z-10">
<nav  class="container mx-auto flex items-center justify-between py-4 sticky top-0" >
            
    <div class="px-4">
        <a href="/"><img id="logoImage" src="/img/logo.png" class="w-full" alt="logo" title="click here to go to home page"></a>
    </div>
    <div class="px-4">
        <ul class="flex items-center ">
            <!-- <li class="ml-6"><a href="/">Menu</a></li> -->

            <%if(locals.user){%>
                <%if(locals.user.role==='customer'){%>
                <li class="ml-6 scrollColor"><a href="/customer/orders">Order</a></li>
                <%}else{%>
                <li class="ml-6 scrollColor"><a href="/admin/orders">Order</a></li>

            <%}%>
            <li class="ml-6 scrollColor">
            <div class=" flex items-center flex-col">
                 <label title="<%=user.email%>" class="text-xs transition ease-in-out delay-400 hover:text-red-500 " for="username"><%=user.firstName%></label>
                 <!-- <label class="text-xs transition delay-400 ease-in-out hover:text-red-500 " for="username"><%=user.email%></label> -->
                 <label for=""><a class="text-sm" href="/logout">Logout</a></label>
             </div>
                       
            </li>
            <!-- <li class="ml-6 scrollColor">
             
            
            </li> -->
            <%}else{%>
            <li class="ml-6 scrollColor"><a href="/register">Register</a></li>
            <li class="ml-6 scrollColor"><a href="/login">Login</a></li>
            <%}%>
            <li class="ml-6 scrollColor" ><a href="/cart" class="inline-block pr-8 pl-2 pt-1 md:px-4 md:py-2 rounded-full flex items-center">
                <img src="/img/cart.png" alt="cart">
                <span id="cartCounter" class="text-white font-bold pl-1 pb-4"><%=session.cart ? session.cart.totalQty :''%></span>
                
                </a>
            </li>
        </ul>
    </div>
</nav>
</section>


<script>

window.addEventListener('scroll', function() {
    
  if(window.pageYOffset>2){
      
      document.getElementById('scrollCSS').style.cssText ='background-color:#CCCFBC';
    //  #FE5F1E
    //   document.getElementsByClassName('scrollColor').style.cssText='color:white';
  }
  else{
      document.getElementById('scrollCSS').style.cssText ='background-color:white';
  }
});
</script>
